<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Proposta de projeto:</h2>
    <p>Loja de suplementos online</p>
    <p>Serão os três usuários: Cliente, Cliente Premium (sistema de ganho de pontos) e Vendedor (cadastra produtos).
        Terá tela de login, barra de pesquisa, filtro de produtos e/ou lista de desejos. Ainda terá a tela para cadastro
        de produtos e tela para conferir quantidade de pontos e progresso até o próximo brinde.
    </p>
    <p style="font-weight: bold;">Autores: Gabriel Okidoi, Lázaro Freitas e Mônica Krieger</p>
</body>

</html>